/* ===============
   CSS VARIABLES 
   =============== */
:root {
    --clr-red: hsl(1, 90%, 64%);
    --clr-blue-300: hsl(219, 85%, 36%);
    --clr-blue-500: hsl(219, 85%, 26%);
    --clr-white: hsl(0, 0%, 100%);

    --clr-gray-50: hsl(210, 60%, 98%);
    --clr-gray-75: hsl(211, 68%, 94%);
    --clr-gray-100: hsl(205, 33%, 90%);

    --clr-gray-400: hsl(219, 14%, 63%);
    --clr-gray-500: hsl(219, 12%, 42%);
    --clr-gray-900: hsl(224, 21%, 14%);

    --font-main: "Plus Jakarta Sans", sans-serif;
    --font-medium: 500;
    --font-extrabold: 800;

    --text-sm: 0.9375rem;
    --text-base: 1rem;
    --text-md: 1.25rem;

    --leading-none: 1;

    --rounded-sm: 0.375rem;
    --rounded-base: 0.5rem;
    --rounded-full: 9999px;
}
/* ===============
   CSS RESET 
   =============== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: var(--leading-none);
    -webkit-font-smoothing: antialiased;
}
img,
svg {
    display: block;
    max-width: 100%;
}
button {
    padding: 0;
    font: inherit;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
a {
    text-decoration: none;
    font: inherit;
    color: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
ul {
    list-style: none;
    padding-left: 0;
}
p,
h1 {
    overflow-wrap: break-word;
}
/* ===============
   CSS UTILITIES 
   =============== */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* ===============
   CSS MAIN 
   =============== */
.main__container {
    background-color: var(--clr-gray-50);
    font-family: var(--font-main);
    font-weight: var(--font-medium);
    font-size: var(--text-sm);
    color: var(--clr-gray-500);
}

.notification__section {
    background-color: var(--clr-white);
    padding: 1.5rem 1rem 1.9375rem 1rem;
}
.notification__label {
    margin-bottom: 1.5rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.notification__label__text {
    display: flex;
    align-items: center;
    color: var(--clr-gray-900);
    font-weight: var(--font-extrabold);
    font-size: var(--text-md);
    line-height: 1.5625rem;
}
.notification__label__text #notification-count {
    color: var(--clr-white);
    background-color: var(--clr-blue-500);
    line-height: var(--leading-none);
    font-size: inherit;
    padding: 0.25rem 0.6875rem 0.3125rem 0.6875rem;
    font-size: var(--text-base);
    border-radius: var(--rounded-base);
    margin-left: 0.8125rem;
}
.notification__label__btn {
    padding: 0.5rem;
    margin-right: -0.5rem;
    border-radius: var(--rounded-sm);
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: ease;
}

.notification__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.75rem 1rem 1rem;
    border-radius: var(--rounded-base);
    transition: background-color 200ms ease;
}
.notification__list > * + * {
    margin-top: 0.625rem;
}
.notification__item.new {
    background-color: var(--clr-gray-50);
}
.notification__item.new .notification__description:after {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: var(--rounded-full);
    background-color: var(--clr-red);
    margin-left: 0.375rem;
    margin-bottom: 0.0625rem;
}
.notification__content {
    display: flex;
}
.notification__avatar {
    height: 2.4375rem;
    margin-right: 0.8125rem;
}
.notification__timestamp {
    letter-spacing: var(--tracking-timestamp);
}
.notification__description {
    letter-spacing: var(--tracking-text);
    line-height: 1.125rem;
    margin-bottom: 0.25rem;
}
.notification__user-link {
    font-weight: var(--font-extrabold);
    color: var(--clr-gray-900);
    margin-right: 0.4375rem;
}
.notification__post-link {
    font-weight: var(--font-extrabold);
    color: var(--clr-gray-500);
    margin-left: 0.3125rem;
}
.notification__group-link {
    font-weight: var(--font-extrabold);
    color: var(--clr-blue-500);
    margin-left: 0.3125rem;
}
.notification__message {
    margin-top: 0.75rem;
}
.notification__message--link {
    display: block;
    border-radius: var(--rounded-sm);
    border: 1px solid var(--clr-gray-100);
    padding: 0.9375rem 1rem 0.9375rem 0.9375rem;
    transition: background-color 150ms ease;
}
.notification__media {
    margin-left: 1rem;
    border-radius: var(--rounded-base);
}
.notification__media--link {
    border-radius: inherit;
    display: block;
}
.notification__media--image {
    height: 2.8125rem;
    border-radius: inherit;
}

@supports selector(:focus-visible) {
    button:focus-visible,
    a:focus-visible {
        outline: 2px dashed var(--clr-blue-500);
        outline-offset: 4px;
    }
}

@media (hover: hover) {
    .notification__user-link:hover {
        text-decoration: underline;
        color: var(--clr-blue-500);
    }
    .notification__post-link:hover {
        text-decoration: underline;
        color: var(--clr-blue-500);
    }
    .notification__group-link:hover {
        text-decoration: underline;
        color: var(--clr-blue-500);
    }
    .notification__message--link:hover {
        background-color: var(--clr-gray-75);
    }
    .notification__media--link:hover {
        outline: 3px solid var(--clr-gray-400);
        outline-offset: 3px;
    }
    .notification__label__btn:hover {
        background-color: var(--clr-blue-500);
        color: var(--clr-white);
    }
}

@media screen and (min-width: 40em) {
    :root {
        --text-base: 1rem;
    }
    .main__container {
        padding-top: 3.9375rem;
        padding-bottom: 5.5625rem;
        font-size: var(--text-base);
    }
    .notification__section {
        width: min(100vw - 3em, 45.625rem);
        margin: 0 auto;
        padding: 2rem 1.875rem 0 1.875rem;
    }
    .notification__description {
        line-height: 1.4375rem;
    }
    .notification__label {
        padding-left: 0.0625rem;
        margin-bottom: 1.875rem;
    }
    .notification__label__text {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .notification__list {
        padding-top: 1px;
    }
    .notification__item {
        padding: 1rem 1.25rem 1rem 1.25rem;
    }
    .notification__item:nth-child(5),
    .notification__item:nth-child(6) {
        padding-top: 1.125rem;
    }
    .notification__item:nth-child(7) {
        padding-top: 1.1875rem;
    }
    .notification__avatar {
        height: 2.8125rem;
        margin-top: 0.0625rem;
        margin-right: 1.1875rem;
    }
    .notification__message {
        margin-top: 0.9375rem;
    }
    .notification__message--link {
        padding: 1rem 1.75rem 1.0625rem 1.1875rem;
        line-height: 1.3125rem;
    }
    .notification__media {
        margin-top: 0.0625rem;
    }
    .notification__media--image {
        height: 2.8125rem;
    }
}
